body{background-color:#e8c468;color:black;width:960px;}
div.command{float:left;width:470px;padding-top:20px;padding-right:10px;}
h1,h3{color:#055d83;}
div.command table{padding-bottom:10px;}
div.command td{padding-bottom:3px;padding-right:10px;}
div.command td input{width:320px;}
div.quickCommands{float:right;width:480px;}
div.quickCommands ul{color:#876100;}
div.customerView{padding-top:20px;width:100%;float:left;}
iframe#customerPage{height:500px;width:100%;margin-bottom:20px;}
div.customerView a{color:#9c7b27;}
